<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  
  <xecMe.Core>
    <extensions>
      
      <settings>
        <!-- IBatchProcess is needed if you are configuring a batch process-->
        <add name="IBatchProcess" type="Sample.MyBatch, Sample, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
        <!-- IService is needed if you are configuring a batch process-->
        <add name="IService" type="Sample.MyService, Sample, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
      </settings>
    </extensions>
    <taskManager>
      <taskRunners>
        <!--
        <eventTaskRunner name="Order Process" taskType="Fully Qualified Task Name of ITask" eventTopic="Name of the event" threadOption="BackgroundParallel">
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </eventTaskRunner>
        -->
        <timerTaskRunner name="Queue monitor" taskType="XecMe.Test.TestTask, XecMe.Test" interval="1000" dayStartTime="20:00:00" dayEndTime="20:30" weekdays="Sunday,Tuesday,Tuesday" timeZone="Dateline Standard Time">
          <parameters>
            <parameter name="count" value="500" />
            <parameter name="delay" value="1500" />
          </parameters>
        </timerTaskRunner>

        <parallelTaskRunner name="Parallel Task" taskType="XecMe.Test.TestTask, XecMe.Test" idlePollingPeriod="1500" minInstances="2" maxInstances="10" dayStartTime="21:02:00" dayEndTime="21:46:00" weekdays="Sunday,Tuesday" timeZone="Dateline Standard Time">
          <parameters>
            <parameter name="count" value="500" />
            <parameter name="delay" value="1500" />
          </parameters>
        </parallelTaskRunner>
        <scheduledTaskRunner name="Scheduled Task" taskType="XecMe.Test.TestTask, XecMe.Test" repeat="1" recursion="Daily" startDate="2/17/2015" taskTime="11:00" schedule="WK:Second|MN:All">
          <parameters>
            <parameter name="test1" value="val1" />
            <parameter name="test2" value="val2" />
            <parameter name="test3" value="val3" />
          </parameters>
        </scheduledTaskRunner>
        <!--

        <runOnceTaskRunner name="Runs the task once" taskType="Fully qualified task type" delay="delay before the task is run">
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </runOnceTaskRunner>
        -->
      </taskRunners>
    </taskManager>
  </xecMe.Core>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
