<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="xecMe.Core" type="XecMe.Configuration.XecMeSectionGroup, XecMe.Configuration, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a">
      <section name="extensions" type="XecMe.Configuration.ExtensionsSection, XecMe.Configuration, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
      <section name="taskManager" type="XecMe.Core.Configuration.TaskManagerSection, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
    </sectionGroup>
  </configSections>
  
  
  
  <xecMe.Core>
    <extensions>
      <taskRunners>
        <!-- Whatever is defined in the name below the same tags are to be used in taskRunners section under taskManager -->
        <!-- The type is the type of the element for the defined tag -->
        <!-- One can implement other type of TaskRunner by inheriting from TaskRunner class-->
        <!-- TaskRunnerElement inheriting from TaskRunnerElement class-->
        <add name="parallelTaskRunner" type="XecMe.Core.Configuration.ParallelTaskRunnerElement, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
        <add name="timerTaskRunner" type="XecMe.Core.Configuration.TimerTaskRunnerElement, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
        <add name="eventTaskRunner" type="XecMe.Core.Configuration.EventTaskRunnerElement, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
        <add name="scheduledTaskRunner" type="XecMe.Core.Configuration.ScheduledTaskRunnerElement, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
        <add name="runOnceTaskRunner" type="XecMe.Core.Configuration.RunOnceTaskRunnerElement, XecMe.Core, Version=1.3.6.0, Culture=neutral, PublicKeyToken=e34de6d98c38471a"/>
      </taskRunners>
      <settings>
        <!-- IBatchProcess is needed if you are configuring a batch process-->
        <add name="IBatchProcess" type="Sample.MyBatch, Sample, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"/>
        <!-- IService is needed if you are configuring a batch process-->
        <add name="IService" type="Sample.MyService, Sample, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"/>
      </settings>
    </extensions>
    <taskManager>
      <taskRunners>
        <!--
        <eventTaskRunner name="Order Process" taskType="Fully Qualified Task Name of ITask" eventTopic="Name of the event" threadOption="BackgroundParallel">
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </eventTaskRunner>
        -->
        <timerTaskRunner name="Queue monitor" 
                         taskType="XecMe.Test.TestTask, XecMe.Test" 
                         interval="10000" 
                         dayStartTime="15:00:00" 
                         dayEndTime="10:30" 
                         weekdays="Sunday,Tuesday,Tuesday" 
                         >
          <parameters>
            <parameter name="count" value="500" />
            <parameter name="delay" value="1500" />
          </parameters>
        </timerTaskRunner>

        <!--<parallelTaskRunner name="Parallel Task" taskType="XecMe.Test.TestTask, XecMe.Test" idlePollingPeriod="10000" minInstances="1" maxInstances="10">
          <parameters>
            <parameter name="count" value="5"/>
            <parameter name="delay" value="1500"/>
          </parameters>
        </parallelTaskRunner>-->
        
        <!--<scheduledTaskRunner name="Scheduled Task" 
                             taskType="XecMe.Test.TestTask, XecMe.Test" 
                             repeat="2" 
                             recursion="Weekly" 
                             taskTime="21:00" 
                             schedule="WD:Monday"
                             >
          <parameters>
            <parameter name="count" value="5"/>
            <parameter name="delay" value="1500"/>
          </parameters>
        </scheduledTaskRunner>-->
        <!--

        <runOnceTaskRunner name="Runs the task once" taskType="Fully qualified task type" delay="delay before the task is run">
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </runOnceTaskRunner>
        -->
      </taskRunners>
    </taskManager>
  </xecMe.Core>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="Outlook" >
          <filter type="System.Diagnostics.EventTypeFilter"
              initializeData="Information"/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
