<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="XecMe.Core" type="XecMe.Configuration.AxpFxSectionGroup, XecMe.Configuration">
      <section name="reports" type="XecMe.Core.Reporting.Configuration.ReportSection, XecMe.Core.Reporting"/>
      <section name="extensions" type="XecMe.Configuration.ExtensionsSection, XecMe.Configuration"/>
      <section name="taskManager" type="XecMe.Core.Configuration.TaskManagerSection, XecMe.Core"/>
    </sectionGroup>
  </configSections>
  <XecMe.Core>
    <extensions>
      <taskRunners>
        <!-- Whatever is defined in the name below the same tags are to be used in taskRunners section under taskManager -->
        <!-- The type is the type of the element for the defined tag -->
        <!-- One can implement other type of TaskRunner by inheriting from TaskRunner class-->
        <!-- TaskRunnerElement inheriting from TaskRunnerElement class-->
        <add name="parallelTaskRunner" type="XecMe.Core.Configuration.ParallelTaskRunnerElement, XecMe.Core"/>
        <add name="timerTaskRunner" type="XecMe.Core.Configuration.TimerTaskRunnerElement, XecMe.Core"/>
        <add name="eventTaskRunner" type="XecMe.Core.Configuration.EventTaskRunnerElement, XecMe.Core"/>
      </taskRunners>
      <reportRunners>
        <add name="report runner name" type="FQTN of report runner"/>
        <add name="report runner name" type="FQTN of report runner"/>
      </reportRunners>
    </extensions>
    <reports>
      <applications>
        <application name="name of the application" description="description">
          <definitions>
          </definitions>
        </application>
      </applications>
    </reports>
    <!--hostingService>
      <services>
        <service name="Should match service name in serviceModel" pool="name of the pool" serviceType="Service implemetation class type"/>
        <service name="other service" pool="name of the pool" serviceType="Service implemetation class type"/>
      </services>
    </hostingService-->
    <taskManager>
      <taskRunners>
        <eventTaskRunner name="Retry Service" taskType="Fully Qualified Task Name of ITask" eventName="Name of the event" threadOption="Background">
          <!-- Parameters serve as input parameters to the task-->
          <parameters>
            <parameter name="test1" value="test1"/>
            <parameter name="test2" value="test2"/>
            <parameter name="test3" value="test3"/>
          </parameters>
        </eventTaskRunner>
        <!-- The taskType attribute should be an impletementation of ITask-->
        <timerTaskRunner name="DocX MQ Reader" taskType="Fully Qualified Type Name of ITask implementation should go here" interval="3000">
          <!-- Parameters serve as input parameters to the task-->
          <parameters>
            <parameter name="test1" value="test1"/>
            <parameter name="test2" value="test2"/>
            <parameter name="test3" value="test3"/>
          </parameters>
        </timerTaskRunner>
        <parallelTaskRunner name="Parallel Task" taskType="null" minInstances="2" maxInstances="10">
          <parameters>
            <parameter name="test1" value="test1"/>
            <parameter name="test2" value="test2"/>
            <parameter name="test3" value="test3"/>
          </parameters>
        </parallelTaskRunner>

      </taskRunners>
    </taskManager>
  </XecMe.Core>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
