<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="xecMe.Core" type="XecMe.Configuration.AxpFxSectionGroup, XecMe.Configuration">
      <section name="reports" type="XecMe.Core.Reporting.Configuration.ReportSection, XecMe.Core.Reporting"/>
      <section name="extensions" type="XecMe.Configuration.ExtensionsSection, XecMe.Configuration"/>
      <section name="taskManager" type="XecMe.Core.Configuration.TaskManagerSection, XecMe.Core"/>
    </sectionGroup>
  </configSections>
  <xecMe.Core>
    <extensions>
      <taskRunners>
        <!-- Whatever is defined in the name below the same tags are to be used in taskRunners section under taskManager -->
        <!-- The type is the type of the element for the defined tag -->
        <!-- One can implement other type of TaskRunner by inheriting from TaskRunner class-->
        <!-- TaskRunnerElement inheriting from TaskRunnerElement class-->
        <add name="parallelTaskRunner" type="XecMe.Core.Configuration.ParallelTaskRunnerElement, XecMe.Core"/>
        <add name="timerTaskRunner" type="XecMe.Core.Configuration.TimerTaskRunnerElement, XecMe.Core"/>
        <add name="eventTaskRunner" type="XecMe.Core.Configuration.EventTaskRunnerElement, XecMe.Core"/>
      </taskRunners>
    </extensions>
    <taskManager>
      <taskRunners>
        <eventTaskRunner name="Order Process" taskType="Fully Qualified Task Name of ITask" eventName="Name of the event" threadOption="BackgroundParallel">
          <!-- Parameters serve as input parameters to the task-->
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </eventTaskRunner>
        <!-- The taskType attribute should be an impletementation of ITask-->
        <timerTaskRunner name="Queue monitor" 
                         taskType="Fully Qualified Type Name of ITask implementation should go here" 
                         interval="time between the triggers"
                         startDateTime="Start date time for this task"
                         endDateTime="End date time for this task" 
                         dayStartTime="Start time of the day"
                         dayEndTime="End time of the day"
                         recurrence="number of time">
          <!-- Parameters serve as input parameters to the task-->
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </timerTaskRunner>
        <parallelTaskRunner name="Parallel Task" taskType="Fully qualified type" minInstances="2" maxInstances="10">
          <parameters>
            <parameter name="test1" value="val1"/>
            <parameter name="test2" value="val2"/>
            <parameter name="test3" value="val3"/>
          </parameters>
        </parallelTaskRunner>

      </taskRunners>
    </taskManager>
  </xecMe.Core>
</configuration>
